*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
 
    text-decoration: none;
}

navbar{

    width: 100%;
    position:absolute;
    z-index: 1;
    top:20px;

    height: auto;
    display: flex;
    justify-content: space-between;
}

navbar .logo{
    font-size: 5vmin;
    font-weight: 800;
    color:wheat;
    margin-left: 25px;

}
navbar .logo em {
    color:rgb(226, 146, 25);
}

.navbar-items{
    width: 60%;
    /* background-color: red; */
}
.navbar-items ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
    padding: 5px 50px;
}

.navbar-items ul li a{
    font-size: 1.3em;
    color:whitesmoke;
    font-weight: 500;
}

header{
    width:100%;
    height:100vh;
    
}

header .main-img{
  
   background-image: url(../images/p1.jpg);
   background-position: bottom;
   background-repeat: no-repeat;
   position:relative;
   /* top:130px; */
   /* bottom: 30px;
  left :0px;
  right:0px; */
   background-size:cover;
    width:100%;
    height:100%;
    /* display: flex; */
   /* flex-direction: column;
   justify-content: center;
   /* align-content: center; */
   /* align-items:center; */ 

}

.main-content{
    position: absolute;
    top:60%;
    left: 20%;
}
.main-img .main-content .main-quote{
    font-size: 9vmin;
    color:whitesmoke;
    font-weight: 800;
}

/* .line {
    height:5px;
    width: 30px;
    color: rgb(12, 11, 12);
} */

.quote-by{
    text-align: end;

    
}

.line{
    height: -2px;
    width: 70px;
    margin:10px;
    background-color:whitesmoke;
    position: absolute;
    right: 105px;
    /* bottom: 10px; */
    border-radius: 20px;
}

.quote-by h4{
    font-size: 3vmin;
    color:antiquewhite;
    
}


/* for wavey background */
.custom-shape-divider-bottom-1703961574 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1703961574 svg {
  position: relative;
  display: block;
  width: calc(177% + 1.3px);
  height: 83px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1703961574 .shape-fill {
  fill: #FFFFFF;
  
}

/* end of wavey background */




.card-container{
    width: 90%;
    
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    width: 250px;
    background: white;
    padding: .4em;
    border-radius: 6px;
 
  }
  #pic1{
    background-image: url(../images/stevejobs.jpg);
    
  }

#pic2{
    background-image: url(../images/jackma.jpg);
    
  }

  #pic3{
    background-image: url(../images/priyanka.jpg);
    
  }

  #pic4{
    background-image: url(../images/sarukh.jpg);
    
  }

  .card-image {
   
    background-position: center;
    background-size: cover;
   background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-radius: 6px 6px 0 0;
    position:relative;
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    font-size: 1.2em;
    word-spacing: 1px;
    color: rgb(88, 87, 87);
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }

  /* for main body */

  main{
    height:100vh;
    width: 100vw;
    
  }


  .main-body{

    height:90%;
    width: 100%;
   
    
    background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

    background-position: bottom;
   background-repeat: no-repeat;
   background-size:cover;
display:flex;
flex-direction: column;
/* justify-content: center; */
align-items: center;

  }

  .main-heading{
    text-align: center;
    margin:20px 80px;
    color:black
  }

